*.pyc
.DS_Store
.idea/*
*.pickle
__pycache__/*
*.pkl
*.npy
*.gz
*.mat
*.bmp
*.html
saved_models/*
MultiDCP/Code_AE_trained_encoders/*
*.pdf
MultiDCP/output/*
MultiDCP/data/*
graphs/*
*history_log*
*wandb*
*AMPAD_data*
*.csv
*.json
*.ipynb
*.log 
*.p
